**/oauth
**/.metadata/
**/solicitacaodecompra/com.totvs.tds.ecm.dataservers
**/solicitacaodecompra/br.com.totvs.tds.server.internal.ServerManagerImpl.servers
**/solicitacaodecompra/universototvs/workflow/.resources
**/solicitacaodecompra/universototvs/workflow/.resources/WCM.ws.cache




