**/oauth
desktop.ini
.resources
.resources/
.metadata
.classpath
.settings/
target/
*.class
*.iml
.idea/
bin/
.metadata/
bower_components/
node_modules/
.metadata
*.versionsBackup
*.log
*.dataservers
*.servers




